*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/ol_test/testFile.py
tethysapp/ol_test/workspaces/app_workspace/files/HydroLakes/HydroLakes_polys_v10_10km2_global_results_dswe.csv