{% extends "ol_test/base.html" %}
{% load tethys_gizmos %}

{% load static %}

{% block import_gizmos %}
  {% import_gizmo_dependency plotly_view %}
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button"  onClick="location.href = '/apps/ol-test/'">
    <a><span class="glyphicon glyphicon glyph-black glyphicon-arrow-left"></span><span class="button-text"> Back</span></a>
  </div>
{% endblock %}

{% block title %}OL Test | Details - [ID]{% endblock %}

{% block app_content %}
    <head>
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" id="location">Location</button>
            <button class="tablinks" id="size">Size</button>
            <button class="tablinks" id="misc">Misc</button>
            <button class="tablinks" id="graph-full">Full Graph</button>
            <button class="tablinks" id="graph-yearly">Yearly Average Graph</button>
            <button class="tablinks" id="graph-monthly">Monthly Average Graph</button>
            <button class="tablinks" id="graph-daily">Daily Average Graph</button>
            <button class="tablinks" id="data-download">Download Data</button>
            
        </div>
    </head>
    <body>

        <!-- Tab content -->
        <div id="location-content" class="tabcontent table-content">
            <!-- Table for Location Content list-->
            <table class="center">
                <tr>
                    {% for item, trash in location_set %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for trash, item in location_set %}
                        <td id="location-set-{{trash}}">{{ item }}</td>
                    {% endfor %}
                </tr>
            </table>
            <div id="examplePlot"></div>

        </div>

        <div id="size-content" class="tabcontent table-content">
            <!-- Table for Size Content list-->
            <table class="center">
                <tr>
                    {% for item, trash in size_set %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for trash, item in size_set %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div id="misc-content" class="tabcontent table-content">
            <!-- Table for Miscellaneous Content list-->
            <table class="center">
                <tr>
                    {% for item, trash in misc_set %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for trash, item in misc_set %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <!-- Graphs! All of them! -->
        <div id="graph-full-content" class="tabcontent graphcontent">
            <div id="full-loader">Loading...</div>
            <div id="graph-full-plot"></div>
        </div>

        <div id="graph-yearly-content" class="tabcontent graphcontent">
            <div id="yearly-loader">Loading...</div>
            <div id="graph-yearly-plot"></div>
        </div>

        <div id="graph-monthly-content" class="tabcontent graphcontent">
            <div id="monthly-loader">Loading...</div>
            <div id="graph-monthly-plot"></div>
        </div>

        <div id="graph-daily-content" class="tabcontent graphcontent">
            <div id="daily-loader">Loading...</div>
            <div id="graph-daily-plot"></div>
        </div>

        <!-- Download Data section -->
        <!-- contains settings for PDF download as well as buttons to download PDF & CSV -->
        <div id="data-download-content" class="tabcontent download-content">
            <div class="row">
                <div class="column col1">
                    <h3>Download Options:</h3>
                    <button class="btn btn-info btn-download" id="download-pdf-btn">
                        <span class="glyphicon glyph-black glyphicon-floppy-save"></span><span id="pdf-btn-text" class="button-text"> Save .pdf</span>
                    </button>
                    <button class="btn btn-info btn-download" id="download-csv-btn">
                        <span class="glyphicon glyph-black glyphicon-floppy-save"></span><span id="csv-btn-text" class="button-text"> Save .csv</span>
                    </button>
                </div>
                <div class="column col2">
                    <h3>PDF Options:</h3>
                    <span>PDF Zoom Level: </span>
                    <select id="zoom-selector"> <!--- [["Closest", 13], ["Close", 12], ["Midrange", 10], ["Far", 8.4], ["Farthest", 7]] -->
                        <option value="13">Closest</option>
                        <option value="12">Close</option>
                        <option selected value="10">Midrange</option>
                        <option value="8.4">Far</option>
                        <option value="7">Farthest</option>
                    </select>
                    <br>
                    <br>
                    <span>PDF Map Layer: </span>
                    <select id="layer-selector"> <!-- ["osm", "OpenStreetMap"], ["esri_source", "ESRI"], ["esri_terr", "ESRI Terrain"], ["usgs_imagery", "USGS Imagery"], ["usgs_imagery_labels", "USGS Imagery (Labels)"], ["esri_world", "ESRI World"], -->
                        <option value="osm">OpenStreetMap</option>
                        <option value="esri_source">ESRI</option>
                        <option value="esri_terr">ESRI Terrain</option>
                        <option value="usgs_imagery">USGS Imagery</option>
                        <option value="usgs_imagery_labels">USGS Imagery (Labels)</option>
                        <option value="esri_world">ESRI World</option>
                        <option value="stamen_toner">Stamen Toner</option>
                        <option value="stamen_watercolor">Stamen Watercolor</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- value stored at runtime, this container deleted right after-->
        <!-- you'd have to have a very slow browser to be able to inspect element this container, i think-->
        <!-- probably some method to get it that i'm unaware of, though-->
        {% csrf_token %}
        <div id="map" class="map"></div>

    </body>
{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link href="{% static 'ol_test/css/OL.css' %}" rel="stylesheet"/>
    <link href="{% static 'ol_test/css/details.css' %}" rel="stylesheet"></link>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'ol_test/js/OL.js' %}" type="text/javascript"></script>
    <script src="{% static 'ol_test/js/details.js' %}" type="text/javascript"></script>
{% endblock %}