.table-content {
    overflow-x: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    display:none;
    padding: 6px 12px;
    border-top: none;
    height: 100%;
}

.column {
  float: left;
  width: 25%;
}

.col1 {
  text-align: center;
}

.col2 {
  padding-left: 1%;
}

.row {
    height: 100%;
    margin-left: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#inner-app-content {
    overflow: hidden;
}

#map {
    width: 378px;
    height: 378px;
}