#map {
    height:100%;
    width: 100%;
    position:relative;
    overflow-y: visible;
}

#map2 {
    overflow-y: visible;
}

.popover {
    max-width: none;
    max-height: none;
}

#inner-app-content {
    height: 100%;
    padding: 0;
    overflow-y: hidden;
    /* overflow-y: visible; */
}

#app-content, #map_view_outer_container {
    height: 100%;
    overflow-y: visible;
}

input {
    max-width: 300px;
    margin-left: 15px;
    float: left;
}

input[type=range] {
    width: 30%;
}

.popup-button {
    float: right;
    /* transform: translateY(-4px); */ /* Static method of accomplishing centering */
    /* transform: translateY(-12%); More adjustable method */
}

.popup-selector {
    /* float: right; */
    transform: translateY(-3%);
    /* margin-right: 8px; */
}

.popup-content-button {
    /* transform: translateY(12%); */
    /* padding-right: 5px; */
    margin: 5px;
    text-align: center;

}

.popover-title {
    height: 50px;
    font-size: 150%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 11px 10px;
}

.popover-footer {
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 14px;
    font-size: 150%;
    font-weight: 400;
    line-height: 100%;
    background-color: #F7F7F7;
    height: 50px;
    border-top: 1px solid #EBEBEB;
    border-radius: 0 0 5px 5px;
}

.popover-content {
    min-height: 0px;
    max-height: 400px;
    min-width: 200px;
    max-width: 828px;
    overflow-y: hidden;
    text-align: center;
}

#plot-content {
    width: 800px;
    height: 380px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: visible;
}

#popup-header {
    text-align: center;
}

#graph-plot-content {
    justify-content: center;
    height: 100%;
}

.popover-multi-content {
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: visible;
    display: inline-block;
    /* text-align: center; */
}

#background-select{
    top: 10px;
    left: 3em;
    background: rgba(255, 255, 255, 50%);
    overflow-y: visible;
}

.modal-lg {
    width: 80%;
}

#graph-modal-body::after {
    content: "";
    clear:both;
    display:table;
}

#map2 {
    width: 378px;
    height: 378px;
}

.controller-number {
    width: 45%;
    float: left;
    padding-right: 0px;
    background: #bbb;
}

.controller-text {
    width: 80px;
    float: left;
    background: #aaa;
}

.ol-mouse-position {
    left: 3.1em;
    top: 2.7em;
    background: rgba(255, 255, 255, 50%);
    width: 8.4em;
    border-radius: 4px;
}

#mouse-position-text {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
}